{% load get_static_prefix from static %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>
<html ng-app='angdrftodolist'>
    <head>
        <title>TODO list</title>
        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    </head>
    <body>
        <div ui-view></div>
        <script type="text/javascript" src="{{STATIC_URL}}js//angular.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/angular-ui-bootstrap.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/underscore-min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
        <script type="text/javascript">
            var app = angular.module('angdrftodolist', [
                'ui.router',
                'ui.bootstrap',
                'restangular'
            ]);

            app.config(function($stateProvider, $urlRouterProvider){
                $stateProvider
                    .state('home', {
                        url: '/',
                        templateUrl: '{{STATIC_URL}}templates/home.html',
                        controller: 'ListCtrl'
                    })
                    .state('edit-todo', {
                        url: '/edit/:projectId',
                        templateUrl: '{{STATIC_URL}}templates/object_detail.html',
                        controller: 'EditCtrl',
                        resolve: {
                            project: function(Restangular, $stateParams){
                                return Restangular.one('api/todos', $stateParams.projectId).get();
                            }
                        }
                    })
                    .state('add-todo', {
                        url: "/add",
                        templateUrl: '{{STATIC_URL}}templates/object_detail.html',
                        controller: 'CreateCtrl'
                    });

                $urlRouterProvider.otherwise('/');
            });

            // todo list
            app.controller('ListCtrl', function($scope, Restangular){
               $scope.todos = Restangular.all('api/todos/').getList().$object;
            });

            // create todo object
            app.controller('CreateCtrl', function($scope, $location, Restangular){
              $scope.save = function() {
                Restangular.all('api/todos/').post($scope.todo).then(function(project) {
                  $location.path('/');
                });
              }
            });

            // edit todo object
            app.controller('EditCtrl', function($scope, $location, Restangular, project){
              var original = project;
              $scope.todo = Restangular.copy(original);

              $scope.showDeleteBtn = function() {
                if ($scope.todo) {
                    return true;
                }
                return false;
              }

              // clear form
              $scope.isClean = function() {
                return angular.equals(original, $scope.project);
              }

              // delete object
              $scope.destroy = function() {
                original.remove().then(function() {
                  $location.path('/');
                });
              };

              // update object
              $scope.save = function() {
                $scope.todo.put().then(function() {
                  $location.path('/');
                });
              };
            });
        </script>
    </body>
</html>