<div class='row text-center'>
    <div class='col-xs-4 col-xs-offset-4'>
        <h1>TODO list</h1>

        <input type="text" ng-model="search" class="search-query" placeholder="Search" class='form-control'>
        
        <table class="col-xs-12">
          <thead>
              <tr>
                <th class="text-center" style='padding:5px;'>Title</th>
                <th class="text-center" style='padding:5px;'>Description</th>
                <th class="text-center" style='padding:5px;'><button ui-sref="add-todo" class='btn btn-primary'>Add TODO object</button></th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="todo in todos | filter:search | orderBy:'name'">
                <td style='padding:5px;'>{{todo.title}}</td>
                <td style='padding:5px;'>{{todo.description}}</td>
                <td style='padding:5px;'>
                  <button class='btn btn-primary' ui-sref="edit-todo({projectId: todo.id})">Edit TODO object</button>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
</div>