<div class="row text-center">
    <div class='col-sm-4 col-sm-offset-4'>
        <h1> Todo object </h1>
        <form name="todoForm">
            <div class="form-group col-xs-12" ng-class="{error: todoForm.title.$invalid}">
                <div class="col-xs-8"><input type="text" name="title" ng-model="todo.title" required class='form-control' placeholder="Title"></div>
                <div class="col-xs-4"><span ng-show="todoForm.title.$error.required" class="help-inline">Required</span></div>
            </div>
          
            <div class="form-group col-xs-12" ng-class="{error: todoForm.description.$invalid}">
                <div class="col-xs-8"><textarea name="description" ng-model="todo.description" class='form-control' required placeholder="Description"></textarea></div>
                <div class="col-xs-4"><span ng-show="todoForm.description.$error.required" class="help-inline">Required</span></div>
            </div>
            <br>
            <a href="#/" class="btn">Cancel</a>
            <button ng-click="save()" ng-disabled="isClean() || todoForm.$invalid" class="btn btn-primary">Save</button>
            <button ng-click="destroy()" ng-show="showDeleteBtn()" class="btn btn-danger">Delete</button>
      </form>
    </div>
</div>